{% extends "dashboard/base.html" %}
{% load static %}
{% block title %}Mes informations{% endblock title %}

{% block body %}
<div class="wrapper">
  <!-- Sidebar  -->
  {% include "dashboard_user/inclusions/sidebar.html" %}

  <!-- Page Content  -->
  <div id="content">
    {% include "dashboard_user/inclusions/header.html" %}

    <section class="component pb-5">
        <div class="section-header pb-5">
          <h2 class="titre-section">Mes informations</h2>
        </div>
        <div class="container-fluid">
            <div>
                <div class="row gy-4">
                    <div class="col-lg-7">
                        <form action="" method="post" class="php-email-form" style="padding-top: 12%;">
                            <header class="section-header">
                                <p class="s-titre text-center">Modification des informations</p>
                            </header>
                            {% csrf_token %}
                            <div class="row gy-4">
                                <div class="row gy-4">
                                    <div class="col-md-6 ">
                                        {{form.last_name}}
                                        {% for error in form.last_name.errors %}
                                            <span class="text-danger" style="font-size: 13px; font-weight: lighter; margin-top: 7px; margin-left: 13px;">{{error}}</span>
                                        {% endfor %}
                                    </div>
                                    <div class="col-md-6 ">
                                        {{form.first_name}}
                                        {% for error in form.first_name.errors %}
                                            <span class="text-danger" style="font-size: 13px; font-weight: lighter; margin-top: 7px; margin-left: 13px;">{{error}}</span>
                                        {% endfor %}
                                    </div>
                                    <div class="col-md-6">
                                        {{form.username}}
                                        {% for error in form.username.errors %}
                                        <span class="text-danger" style="font-size: 13px; font-weight: lighter; margin-top: 7px; margin-left: 13px;">{{error}}</span>
                                        {% endfor %}
                                    </div>
                                    <div class="col-md-6">
                                        {{profile_form.telephone}}
                                        {% for error in profile_form.telephone.errors %}
                                        <span class="text-danger" style="font-size: 13px; font-weight: lighter; margin-top: 7px; margin-left: 13px;">{{error}}</span>
                                        {% endfor %}
                                    </div>
                                    <div class="col-md-12 text-center">
                                        <button type="submit" class="w-100">Modifier mes informations</button>
                                    </div>
                                    <div>
                                        <p class="text-muted description text-center" style="font-size: 13px;">Modifier le <a href="{% url 'update_pass_gerant' %}" class="link">mot de passe</a></p>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
             
        </div>
    </section>
    <script>
        var form_fields = document.getElementsByTagName('input')
        form_fields[1].placeholder='Nom';
        form_fields[2].placeholder='Prénoms';
        form_fields[3].placeholder='Nom d\'utilisateur';
        form_fields[4].placeholder='Téléphone';
        for (var field in form_fields){	
            form_fields[field].className += ' form-control'
        }
    </script>
  </div>
</div>
{% endblock body %}
    