{% extends 'reports/base.html' %}

{% block title %}Liste des gestionnaires{% endblock title %}


{% block body %}
<div class="header">
    <p class="nom-org">{{org.nom}}<p>
    <p class="mail-org"><span style="font-weight: lighter !important; color: #333; font-size: 12px;!important;">E-mail:</span> {{org.mail}}</p>
    {% if org.telephone_s %}
        <p class="tel-org"><span style="font-weight: lighter !important; color: #333; font-size: 12px;!important;">Tél:</span> {{org.telephone_p}} / {{org.telephone_s}}</p>
    {% else %}
        <p class="tel-org"><span style="font-weight: lighter !important; color: #333; font-size: 12px;!important;">Tél:</span> {{org.telephone_p}}</p>
    {% endif %}
    <hr>
</div>
<div class="page">
    <div class="container" align="center">
        <table>
            <h3 class="title">Liste des gestionnaires</h3>
            <thead>
                <tr>
                    <th scope="col" class="num">#</th>
                    <th scope="col" align="left" style="width: 16%;">Nom</th>
                    <th scope="col" align="left">Prénoms</th>
                    <th scope="col" style="width: 13%;">Téléphone</th>
                    <th scope="col" align="left">Adresse e-mail</th>
                </tr>
            </thead>
            <tbody>
                {% for admin in lst_admin %}
                <tr>
                    <td scope="row">{{forloop.counter}}</td>
                    <td align="left">{{admin.user.last_name}}</td>
                    <td align="left">{{admin.user.first_name}}</td>
                    <td>{{admin.telephone}}</td>
                    <td align="left">{{admin.user.email}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock body %}