{% extends "dashboard/base.html" %}
{% load static %}
{% block title %}Détails de {{prod.designation}}{% endblock title %}

{% block body %}
<div class="wrapper">
  <!-- Sidebar  -->
  {% include "dashboard/inclusions/sidebar.html" %}
 
  <!-- Page Content  -->
    <div id="content">
        {% include "dashboard/inclusions/header.html" %}
        <section class="component pb-5">
            <div class="section-header pb-5">
                <h2 class="titre-section">{{prod.designation}}</h2>
            </div>
            <div class="container-fluid">
                <div>
                    <div class="row gy-4">
                        <div class="col-lg-8 col-md-6 col-sm-12">
                            <header class="section-header">
                                <h4 class="text-left stitre" style="color: #555;">Informations générales</h4>
                            </header><br>
                            <div class="component">
                                <table class="table table-responsive">
                                    <tbody>
                                        <tr>
                                            <a href="{% url 'update_stock_prod' prod.id %}" title="Entrée en stock"><i class="bi bi-plus-circle-dotted primary"></i></a>
                                            {% if prod.image %}
                                            <td rowspan="6"><img src="{{prod.image.url}}" alt="{{prod.nom}}" class="img-fluid" height="250" width="250"></td>
                                            {% else %}
                                            <td rowspan="6"><img src="{% static 'assets/img/default.png' %}" alt="{{clt.nom}}" class="img-fluid"  height="150" width="150"></td>
                                            {% endif %}
                                        </tr>
                                        <tr>
                                            <td><b>Disponible dans</b>: {% for pt in prod.point_vente.all %} <a href="{% url 'details_point' pt.pk %}" class="liens">{{pt|truncatechars:15}}</a> {% endfor %}</td>
                                        </tr>
                                        <tr>
                                            <td><b>Catégorie</b>: {{prod.categorie}}</td>
                                        </tr>
                                        <tr>
                                            <td><b>Qtés respectives</b>:{% for qte in prod.quantitepoint_set.all %} {{qte.qte_stock}} {% endfor %}</td>
                                        </tr>
                                        <tr>
                                            <td><b>Prix</b>: {{prod.prix_unitaire|floatformat:-2}} FCFA</td>
                                        </tr>
                                        <tr>
                                            <td><b>Ajouté le</b>: {{prod.date_add|date:"d F Y"}} à {{prod.date_add|date:"G\hi"}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <header class="section-header">
                                <h4 class="text-left stitre" style="color: #555;">Autres</h4>
                            </header><br>
                            <section id="counts" class="counts">  
                                <div class="row gy-4">
                                    <div class="col-lg-12 col-md-12">
                                        <div class="count-box">
                                            <i class="bi bi-cart-check lico" style="color: #4154f1;"></i>
                                            <div>
                                                {% if qte_vendue %}
                                                <span>{{qte_vendue}}</span>
                                                {% if qte_vendue <= 1 %}
                                                    <p style="font-size: 13px;">Quantité vendue</p>
                                                {% else %}
                                                    <p style="font-size: 13px;">Quantités vendues</p>
                                                {% endif %}
                                                {% else %}
                                                <span>--</span>
                                                <p style="font-size: 13px;">Quantité vendue</p>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                        
                                    
                                </div>
                            </section>  
                        </div>

                        <div class="col-lg-6 col-md-6">
                            <header class="section-header">
                                <h4 class="text-right stitre" style="color: #555;">Dernières ventes</h4>
                            </header><br>
                            <div class="container containeurs">
                                {% if lst_vte %}
                                <table class="table table-responsive">
                                    <tbody>
                                    {% for vte in  lst_vte %}
                                        {% load app_filter %}
                                        <tr>
                                            <th scope="row">{{forloop.counter}}</th>
                                            <td>{{vte.client}}</td>
                                            <td>{{prod|filter_qte_cmdee:vte.id}}</td>
                                            <td>{{vte.date_vente|date:'d/m/Y'}}</td>
                                            <td><a href="{% url 'details_vente' vte.point_vente.id vte.id %}" title="Détails"><i class="bi bi-info-circle info"></i></a></td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                                {% else %}
                                <br>
                                <p class="alert alert-info text-center">Aucune vente disponible pour le moment.</p>
                                {% endif %}
                            </div>
                       </div>
                        <div class="col-lg-6 col-md-6 mb-4">
                          <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                            <li class="nav-item">
                              <a class="nav-link active" id="pills-lst-tab" data-toggle="pill" href="#pills-lst" role="tab" aria-controls="pills-lst" aria-selected="false"><i class="bi bi-list"></i></a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" id="pills-chart-tab" data-toggle="pill" href="#pills-chart" role="tab" aria-controls="pills-chart" aria-selected="false"><i class="bi bi-pie-chart"></i></a>
                            </li>
                          </ul>
                          <div class="tab-content" id="pills-tabContent">
                            <div class="tab-pane fade show active mb-4" id="pills-lst" role="tabpanel" aria-labelledby="pills-lst-tab">
                              <div class="component">
                                <header class="section-header">
                                <h4 class="text-right stitre" style="color: #555;">Historique de ce produit</h4>
                            </header><br>
                            <div class="containeurs">
                                  <br>
                                  {% if lst_histo_prod %}
                                  <table class="table table-responsive">
                                      <tbody>
                                          {% for histo in  lst_histo_prod %}
                                             {% load app_filter %}
                                            <tr>
                                              <th scope="row">{{forloop.counter}}</th>
                                              <td>{{histo.produit.designation}}</td>
                                              <td>{{histo.qte}}</td>
                                              <td>{{histo.date_ajout|date:"d/m/Y"}}</td>
                                              <td><a href="{% url 'details_point' histo.point.pk %}" class="liens">{{histo.point}}</a></td>
                                            </tr>
                                          {% endfor %}
                                      </tbody>
                                  </table>
                                  {% else %}
                                  <br>
                                  <p class="alert alert-info text-center">Aucune historique pour le moment.</p>
                                  {% endif %}
                            </div>
                              </div>
                            </div>
                            <div class="tab-pane fade" id="pills-chart" role="tabpanel" aria-labelledby="pills-chart-tab">
                              <div class="component">
                                <header class="section-header">
                                    <h4 class="text-right stitre" style="color: #555;">Historique de ce produit</h4>
                                </header><br>
                                  {% if lst_histo_prod %}
                                    <canvas id="chartHisto" width="100%" height="100%"></canvas>
                                    <script src="{% static 'assets/js/chart.min.js' %}"></script>
                                    <script>
                                        var lbl = {{lbl_histo|safe}};
                                        var data = {{data_histo|safe}};
                                        var ctx = document.getElementById("chartHisto").getContext("2d");
                                        var myChart = new Chart(ctx, {
                                          type: "bar",
                                          data: {
                                            labels: lbl,
                                            datasets: [
                                              {
                                                label: "Quantité",
                                                data: data,
                                                backgroundColor: [
                                                  "rgba(255, 99, 132, 0.2)",
                                                  "rgba(54, 162, 235, 0.2)",
                                                  "rgba(255, 206, 86, 0.2)",
                                                  "rgba(75, 192, 192, 0.2)",
                                                  "rgba(153, 102, 255, 0.2)",
                                                  "rgba(255, 159, 64, 0.2)",
                                                ],
                                                borderColor: [
                                                  "rgba(255, 99, 132, 1)",
                                                  "rgba(54, 162, 235, 1)",
                                                  "rgba(255, 206, 86, 1)",
                                                  "rgba(75, 192, 192, 1)",
                                                  "rgba(153, 102, 255, 1)",
                                                  "rgba(255, 159, 64, 1)",
                                                ],
                                                borderWidth: 1,
                                              },
                                            ],
                                          },
                                          options: {
                                            responsive: true,
                                            plugins: {
                                              legend: {
                                                position: 'bottom',
                                              },
                                              title: {
                                                display: true,
                                                  text: 'Quantités',
                                              }
                                            },
                                            scales: {
                                              y: {
                                                beginAtZero: true,
                                              },
                                            },
                                          },
                                        });
                              </script>
                                   {% else %}
                                      <br>
                                      <p class="alert alert-info text-center">Aucune historique pour le moment.</p>
                                  {% endif %}
                              </div>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
{% endblock body %}