{% load static %}
<!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta content="Ramea CRM " name="description">
    <meta content="CRM, Gestion" name="keywords">
    <title>Détails</title>
    <link href="{% static 'assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'assets/img/logo.png' %}" rel="icon" type="text/css">
    <link href="{% static 'assets/css/style2.css' %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'assets/css/jquery.mCustomScrollbar.min.css' %}" type="text/css">
  </head>
  <body>
    <div class="wrapper">
        <!--SIDEBAR-->
        <nav id="sidebar" class="">
            <div class="sidebar-header">
                <h3>Ramea</h3>
            </div>
            <ul class="list-unstyled">
                <li class="">
                    <a href="{% url 'panel_index' %}" class="disop"><i class="ri-dashboard-line dispo"></i>Accueil</a>
                </li>
            </ul>

            <ul class="list-unstyled">
              <li><a href="#option" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle disop"><b><i class="ri-user-line dispo"></i>{{request.user}}</b></a>
                  <ul class="collapse list-unstyled" id="option">
                      <li><a href="{% url 'logout_panel' %}" class="disop"><i class="ri-login-circle-line"></i>&nbsp;Déconnexion</a></li>
                  </ul>
              </li>
            </ul>
        </nav>
        <!--SIDEBAR-->
        <div id="content">
            <section id="counts" class="counts">
                <div class="container" data-aos="fade-up">
                    <h2 class="titre">Demande de {{demande.nom}}</h2>
                </div>
            </section>
            <br>
            <br>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="error">
                            <div class="alert" id="alert"></div>
                        </div>
                        <div class="container-fluid table-responsive">
                            <div class="table-responsive">
                                <table class="table table-borderless">
                                    <tr>
                                        <th>Raison sociale: </th>
                                        <td>{{demande.nom}}</td>
                                    </tr>
                                    <tr><td></td></tr>
                                    <tr>
                                        <th>Numéro de téléphone principal:</th>
                                        <td>{{demande.telephone_p}}</td>
                                    </tr>
                                    <tr><td></td></tr>
                                    <tr>
                                        <th>Numéro de téléphone secondaire:</th>
                                        <td>{{demande.telephone_s}}</td>
                                    </tr>
                                    <tr><td></td></tr>
                                    <tr>
                                        <th>Adresse email:</th>
                                        <td>{{demande.mail}}</td>
                                    </tr>
                                    <tr><td></td></tr>
                                    <tr>
                                        <th>Autre:</th>
                                        <td>{{demande.other}}</td>
                                    </tr>
                                </table>
                                <br>
                                <a href="#valider" class="btn btn-primary w-100" id="btn-valider">Valider</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
        <script src="{% static 'assets/js/popper.min.js' %}"></script>
        <script src="{% static 'assets/js/jquery.slim.min.js' %}"></script>
        <script src="{% static 'assets/js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
        <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'assets/js/jquery-3.5.1.min.js'%}"></script>
        <script type="text/javascript">
            $('#btn-valider').click(function (e){
                e.preventDefault();
                document.querySelector('#btn-valider').disabled = true;/*DESACTICATION DU BUTTON*/
                $('#btn-valider').text( "En attente...");
                $.ajax({
                    url: "{% url 'valider_demande' demande.id%}",
                    method: "POST",
                    data: {
                        demande: '{{demande.id}}',
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                    },
                    success: function (data){
                        document.querySelector('#btn-valider').disabled = true; /*REACTIVATION DU BUTTON*/
                        $('#btn-valider').text("");
                        $('#btn-valider').append("Valider");
                        if (data === "201"){
                            $('#alert').addClass('alert-danger');
                            $('#alert').text('Une organisation avec ces informations existe déjà.')
                        }else if(data === "200"){
                            $('#alert').addClass('alert-success');
                            $('#alert').text('Inscription validée et mail de validation envoyé.')
                        }else{
                            $('#alert').addClass('alert-danger');
                            $('#alert').text('Erreur.')
                        }
                        //console.log(data)
                    },
                    error: function (data){
                        $('#btn-valider').prop( "disabled", false ); /*REACTIVATION DU BUTTON*/
                        $('#btn-valider').text("");
                        $('#btn-valider').append("Valider");

                        $('#alert').addClass('alert-danger');
                        $('#alert').text('Erreur.')
                        console.log(data)
                    }

                });
            });
        </script>
  </body>
</html>
