{% extends 'reports/base.html' %}

{% block title %}Liste des catégories{% endblock title %}


{% block body %}
<div class="header">
    <p class="nom-org">{{org.nom}}<p>
    <p class="mail-org"><span style="font-weight: lighter !important; color: #333; font-size: 12px;!important;">E-mail:</span> {{org.mail}}</p>
    {% if org.telephone_s %}
        <p class="tel-org"><span style="font-weight: lighter !important; color: #333; font-size: 12px;!important;">Tél:</span> {{org.telephone_p}} / {{org.telephone_s}}</p>
    {% else %}
        <p class="tel-org"><span style="font-weight: lighter !important; color: #333; font-size: 12px;!important;">Tél:</span> {{org.telephone_p}}</p>
    {% endif %}
    <hr>
</div>
<div class="page">
    <div class="container" align="center">
        <table>
            <h3 class="title">Liste des catégories</h3>
            <thead>
                <tr>
                    <th scope="col" class="num">#</th>
                    <th scope="col" align="left">Nom de la catégorie</th>
                    <th scope="col" align="left">Type de la catégorie</th>
                </tr>
            </thead>
            <tbody>
                {% for cat in lst_cat %}
                <tr>
                    <td scope="row">{{forloop.counter}}</td>
                    <td align="left">{{cat.nom}}</td>
                    <td align="left">{{cat.typecategorie}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock body %}