{% extends "dashboard_user/base.html" %}
{% load static %}
{% block title %}Produits{% endblock title %}

{% block body %}
<div class="wrapper">
  <!-- Sidebar  -->
  {% include "dashboard_user/inclusions/sidebar.html" %}
  <!-- Page Content  -->
  <div id="content">
    {% include "dashboard_user/inclusions/header.html" %}
    
    <section class="component pb-5">
      <div class="section-header pb-5">
        <h2 class="titre-section">Produits</h2>
        <br>
          <div class="row">
            <div class="col-lg-6 col-md-6">
              <div class="btn-toolbar mb-2 mb-md-0">
                <div class="btn-group me-2">
                  {% if lst_prod %}
                    <a href="{% url 'export_pdf_prod_gerant' %}" class="btn btn-sm btn-outline-danger">PDF</a>
                  {% endif %}
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6">
              <div class="container-fluid">
                <form action="" method="get" class="d-flex">
                  <input class="form-control me-2" type="search" placeholder="Rechercher" aria-label="Recherche" name="query">
                  <button class="btn btn-search" type="submit">Rechercher</button>
                </form>
              </div>
            </div>
          </div>
      </div>
      <div>
        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Liste</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">Historique</a>
          </li>
        </ul>
        <div class="tab-content" id="pills-tabContent">
          <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
            <div>
              <header class="section-header">
                <p class="stitre text-uppercase" style="font-size: 25px;">Liste des produits</p>
              </header>
              {% if lst_prod %}
                <div class="row row-cols-1 row-cols-md-3 g-4">
                  {% for prod in lst_prod %}
                    {% load app_filter %}
                      <div class="col-lg-3 col-6">
                        <div class="card">
                          <div class="example-elements">
                            {% if point_vente.nom|filter_prod:prod.id <= 5 %}
                              <span data-tooltip="La quantité est à un état critique: {{point_vente.nom|filter_prod:prod.id}}" data-tooltip-location="bottom"><i class="bi bi-exclamation-circle text-danger"></i></span>
                            {% elif point_vente.nom|filter_prod:prod.id <= 15 %}
                              <span data-tooltip="La quantité est à un état d'alerte: {{point_vente.nom|filter_prod:prod.id}}" data-tooltip-location="bottom"><i class="bi bi-exclamation-triangle text-warning"></i></span>
                            {% else %}
                              <span data-tooltip="Rien à signaler: {{point_vente.nom|filter_prod:prod.id}}" data-tooltip-location="bottom"><i class="bi bi-check-circle text-success"></i></span>
                            {% endif %}
                          </div>

                          {% if prod.image %}
                            <img src="{{prod.image.url}}" class="card-img-top img-fluid" alt="{{prod.designation}}">
                          {% else %}
                            <img src="{% static 'assets/img/default.png' %}" alt="{{prod.designation}}" class="card-img-top img-fluid">
                          {% endif %}
                            
                          <div class="card-body">
                            <h6 class="prod-cat text-muted">{{prod.categorie}}</h6>
                            <h5 class="card-title">{{prod.designation}}</h5>
                            <p class="prod-infos">{{prod.prix_unitaire|floatformat:-2}} <b>FCFA</b></p>
                            <div class="" align="center">
                              <a href="{% url 'details_produit_gerant' prod.id %}" class=""><i class="bi bi-info-circle info"></i></a>&nbsp;
                              <!--<a href="'update_stock' prod.id" class=""><i class="bi bi-plus-circle-dotted primary"></i></a>-->
                            </div>
                          </div>
                        </div>
                      </div>
                  {% endfor %}
                </div>
              {% else %}
                <br>
                <p class="alert alert-info text-center">Aucun produit disponible pour le moment.</p>
              {% endif %}
            </div>
          </div>
          <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
            <div class="container-fluid">
              <header class="section-header">
                <p class="stitre text-uppercase" style="font-size: 25px;">Historique du stock</p>
                <div>
                  <div class="row">
                    <div class="col-lg-6 col-md-6">
                      <div class="btn-toolbar mb-2 mb-md-0">
                        <div class="btn-group me-2">
                          {% if lst_histo_prod %}
                          <a href="{% url 'export_pdf_histo' %}" class="btn btn-sm btn-outline-danger">PDF</a>
                          {% endif %}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </header>
              <div class="containeurs">
                <br> 
                {% if lst_histo_prod %}
                <table class="table table-responsive">
                    <thead class="thead">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Désignation</th>
                            <th scope="col">Quantité ajoutée</th>
                            <th scope="col">Quantité en stock</th>
                            <th scope="col">Date d'ajout</th>
                            <th scope="col">Par</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for histo in  lst_histo_prod%}
                          <tr>
                            <th scope="row">{{forloop.counter}}</th>
                            <td>{{histo.produit.designation}}</td>
                            <td>{{histo.qte_ajoutee}}</td>
                            <td>{{histo.produit.quantite}}</td>
                            <td>{{histo.date_ajout}}</td>
                            <td>{{histo.gerant}}</td>
                          </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% else %}
                <br>
                <p class="alert alert-info text-center">Aucune historique disponible pour le moment.</p>
                {% endif %}
                    
              </div>
            </div>
          </div>
        </div>
      </div>
  </section>
  </div>
</div>
{% endblock body %}
    