{% extends "base.html" %}
{% load static %}

{% block title %}Organisations{% endblock title %}

{% block body %}
<section class="hero d-flex align-items-center contact" id="register">
    <div class="container" data-aos="fade-up">
        <header class="section-header">

        </header>
        <div class="row gy-4">
            <div class="col-lg-6 hero-img" data-aos="zoom-out" data-aos-delay="200">
                <!--<img src="{% static 'assets/img/2.png' %}" class="img-fluid" alt="Organisations">-->
            </div>
            <div class="col-lg-6">
                <form action="" method="post" class="php-email-form" style="padding-top: 12%;">
                    <header class="section-header">
                        <p id="labelform">Faites votre demande d'inscription</p>
                    </header>
                    {% csrf_token %}
                    <div class="row gy-4">
                        <div class="col-md-12">
                            {{form.nom}}
                            {% for error in form.nom.errors %}
                            <span class="text-danger" style="font-size: 13px; font-weight: lighter; margin-top: 7px; margin-left: 13px;">{{error}}</span>
                            {% endfor %}
                        </div>
                        <div class="col-md-6">
                            {{form.telephone_p}}
                            {% for error in form.telephone_p.errors %}
                            <span class="text-danger" style="font-size: 13px; font-weight: lighter; margin-top: 7px; margin-left: 13px;">{{error}}</span>
                            {% endfor %}
                        </div>
                        <div class="col-md-6">
                            {{form.telephone_s}}
                            {% for error in form.telephone_s.errors %}
                            <span class="text-danger" style="font-size: 13px; font-weight: lighter; margin-top: 7px; margin-left: 13px;">{{error}}</span>
                            {% endfor %}
                        </div>
                        <div class="col-md-12 ">
                            {{form.mail}}
                            {% for error in form.mail.errors %}
                                <span class="text-danger" style="font-size: 13px; font-weight: lighter; margin-top: 7px; margin-left: 13px;">{{error}}</span>
                            {% endfor %}
                        </div>
                        <div class="col-md-12 text-center">
                            <button type="submit" class="w-100">Valider</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
  </section>


<!-- End Contact Section -->
{% endblock body %}