{% load static %}
<!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta content="Ramea CRM " name="description">
    <meta content="CRM, Gestion" name="keywords">
    <title>{% block title %}Panel {% endblock title %} - Ramea</title>
    <link href="{% static 'assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'assets/img/logo.png' %}" rel="icon" type="text/css">
    <link href="{% static 'assets/css/style2.css' %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'assets/css/jquery.mCustomScrollbar.min.css' %}" type="text/css">
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-Q9Q0CFPZWX"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-Q9Q0CFPZWX');
    </script>
  </head>
  <body>
        {% block body %}
              
        {% endblock body %}
        <script src="{% static 'assets/js/popper.min.js' %}"></script>
        <script src="{% static 'assets/js/jquery.slim.min.js' %}"></script>
        <script src="{% static 'assets/js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
        <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
        
        <script type="text/javascript">
          $(document).ready(function () {
              $("#sidebar").mCustomScrollbar({
                  theme: "minimal"
              });
  
              $('#sidebarCollapse').on('click', function () {
                  $('#sidebar, #content').toggleClass('active');
                  $('.collapse.in').toggleClass('in');
                  $('a[aria-expanded=true]').attr('aria-expanded', 'false');
              });
          });
        </script>
  </body>
</html>
